<!--form-->
<div class="container-fluid">
    <form action="search-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Repositories"[(ngModel)]='repoName' name="repoName" (keyup)="findRepo()">
        </div>
    </form>
</div>
<!--form-->
<div class="card bg-light" *ngIf="repoitems">
    <div class="card-header">
        <h2>Repos</h2>
    </div>
    <div class="card-body " *ngFor="let item of repoitems">
        <div class="card row">
            <div class="card-body" appHighlight>
                <a href="{{item.html_url}}" target="_blank"><strong>{{item.name}}</strong></a>
                <p>Language Used: {{item.language}}</p>
                <p>{{item.description}}</p>
                <p>Created: {{item.created_at | dateCount}}</p>
                <p><strong>Created by:</strong> {{item.owner.login}}</p>              
            </div>
        </div>
   </div>
</div>   