<form action="search-form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Github user search"[(ngModel="username")] name="username" (keyup)="findUser()">
    </div>
</form>
<div *ngIf="user">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{user.name}}<small>({{user.login}})</small>
            <span *ngIf="user.company">,Place of Work{{user.company}}</span>
            {{user.location}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{user.avatar_url}}" class="img-circle img-responsive" alt="user image">
                </div>
                <div class="col-sm-5">
                    <ul class="list-group">
                        <li class="list-group-item" *ngIf="user.bio">{{user.bio}}</li>
                        <li class="list-group-item" *ngIf="user.bio">Available for Hire</li>
                        <li class="list-group-item" *ngIf="user.blog"><a href="{{user.blog}}" target="_blank">Website:{{user.blog}}</a></li>
                        <li class="list-group-item" *ngIf="user.email"><a href="{{user.email}}" target="_blank">Email:{{user.email}}</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div>
                        <p>
                            <span class="label label-default">{{user.followers}}Followers</span>
                            <span class="label label-primary">Followings{{user.following}}</span>
                            <span class="label label-success">{{user.public_gists}}Public Gists</span>
                            <span class="label label-default">{{user.public_repos}}Public Repos</span>
                        </p>
                        <p><a href="{{user.html_url}}" class="btn btn-success btn-small">GithubProfile</a></p>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Repos</h3>
                            </div>
                            <div class="panel-body" *ngFor="let repo for repos">
                                <p>
                                    {{repo.name}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>